<div class="jumbotron mt-2 mb-2" style="padding: 2rem;">
    <h1 class="page-header text-center pt-0">UMBC Meal Breakdown</h1>

    <p class="mb-1">
        Analyze where and when you eat. This kind of analysis becomes particularly useful when trying to pick a meal plan. Or if you just want to look at your data for fun. Meal plan information can be found <a href="https://dineoncampus.com/UMBC/for-residents">here for residents</a> and <a href="https://dineoncampus.com/UMBC/for-commuters">here for commuters</a>.
    </p>
</div>

<h3>Steps:</h3>
<ul class="list-group">
    <li class="list-group-item">
        1. <a href="https://services.jsatech.com/statementnew.php?cid=70&acctto=B1" target="_blank">Go to the Campus Card website.</a>
    </li>

    <li class="list-group-item">
        <span>2. Scroll down to find the name of your Meal Plan and hit the "View More" link.</span>
    </li>

    <li class="list-group-item">
        <span>3. Scroll to the "View All Activity" section and hit the "CSV" download link.</span>
    </li>

    <li class="list-group-item">
        <span>4. Upload the CSV file.</span><br><br>
        
        <form class="mb-0" name="form_input" enctype="multipart/form-data">
            <input custom-on-change="uploadFile" class="form-control-file" type="file" multiple accept=".csv">
        </form>
    </li>

    <li class="list-group-item">
        <button class="btn btn-success" ng-click="goToAnalytics()">Analyze</button>
    </li>
</ul>
